<%= form_with(url: "/posts", method: "get", local: true) do |form| %>
<div>
		<%= select_tag(:sort_by_date, options_for_select([['ascending'], ['descending']]))%>
</div>
<div>
		<%= form.submit 'SORT', class: 'btn btn-primary'%>
</div>
<% end %>